@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');
canvas{
    background-color: black;
}
div{
    display: flex;
    justify-content:center;
}
body{
    background-image: url(https://wallpapercave.com/wp/wp2633737.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1,h2,h4{
    font-family: 'Oxanium';
    font-size: 30px;
    color: white;
    letter-spacing: 1px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}
h1{
    font-size: 40px;
}
h4{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
}
img{
    width: 50%
}
button {
    font-size: 30px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    font-family: 'Oxanium';
    background-color: #e02e40;
    color: #fff;
    padding: 10px 25px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }